In [1]:
global invalid_titles; invalid_titles = []
global two_titles; two_titles = []

In [2]:
import parse_funs as parse_funs
from parse_funs import *

from time import time

In [3]:
# needed dirs
HOME_DIR = 'd:/larc_projects/job_analytics/'
DATA_DIR = HOME_DIR + 'data/clean/'

In [19]:
# %cd ja_src
reload(parse_funs)
from parse_funs import *

In [20]:
parse('Data analyst and scientist')
parse('Security Analyst, Information Technology')
# parse('Infrastructure Technical Specialist')

parsing Data analyst and scientist gives > 1 title in output

  domain position               pri_func sec_func                       title
1   data           analyst and scientist           Data analyst and scientist

+ Data loading:

In [ ]:
parse_df = pd.read_csv(DATA_DIR + 'parsed_titles.csv')
parse_df = parse_df.drop_duplicates('title')
print('# titles in previous parsing: %d' % len(parse_df.title) )

In [ ]:
# titles_2 = title_stats.query('n_post >= 2')
# print('# titles having at least 2 posts: %d' %titles_2.shape[0])

# # Merge to get parsing results of titles with at least 2 posts
# title_df = pd.merge(titles_2, parse_df)
# n_title = title_df.shape[0]
# print('# titles with at least 2 posts and already parsed last time: %d' %n_title)

Now need to re-parse titles with:
+ NA pri-func
+ NA domain

In [103]:
df = pd.read_csv(DATA_DIR + 'doc_index_filter.csv')

In [104]:
titles = list(df['title'].unique())
n_title = len(titles)
print('# unique titles: %d' % n_title)

# unique titles: 4536

In [ ]:
title_stats = pd.read_csv(DATA_DIR + 'stats_job_titles.csv')

## Parsing job titles

In [13]:
parse('Helmsman / Steersman')

parsing Helmsman / Steersman gives > 1 title in output

  domain position   pri_func sec_func                 title
1   None     None   helmsman     None  Helmsman / Steersman
1   None     None  steersman     None  Helmsman / Steersman

In [21]:
# Parsing funcs
def parseBatch(b, start=None, end=None):
    '''
    @return: DF containing results of parsing 100 titles in batch b
    '''
    print('Parsing batch {}...'.format(b))
    if (not start) and (not end): start = 100*b; end = start + 100
    batch_titles = titles[start:end]
    frames = [parse(t) for t in batch_titles]
    res = pd.concat(frames)
    res.reset_index(inplace=True); del res['index']
    time.sleep(3)
    
#     defensive save result of the batch
    fname = DATA_DIR + 'tmp/b{}.csv'.format(b)
    res.to_csv(fname, index=False)
    print('\t saved result to tmp file')
    return res

We need to divide the parsing process into several medium-size batches as this is a good practice when we are using a web service or access web/remote server. The division also allows us to easily locate a bug when it occurs. This actually happens as shown below.

In [42]:
n_batch = n_title/100; remainder = n_title % 100

In [43]:
rem_titles = titles[-remainder:]
last_frame = pd.concat([parse(t) for t in rem_titles])

In [45]:
# frames = [parseBatch(b) for b in range(n_batch)]
folder = DATA_DIR + 'tmp/parse/new/'
files = os.listdir(folder)
frames = [pd.read_csv(folder + f) for f in files]

In [27]:
frames.append(last_frame)

In [62]:
res = pd.concat(frames)
print res.shape

print('# dups in parsing result: %d' %sum(res.duplicated('title')))
res[res.duplicated('title')]

(4536, 5)
# dups in parsing result: 56

,domain,position,pri_func,sec_func,title
77,NaN,NaN,NaN,NaN,Senior Executive
41,NaN,NaN,NaN,NaN,"Commercials, Producer of"
93,NaN,NaN,NaN,NaN,Helpdesk Engineer
24,NaN,NaN,NaN,NaN,Information Technology Helpdesk Coordinator
36,NaN,NaN,NaN,NaN,Spa Therapist Supervisor
76,NaN,NaN,NaN,NaN,Spa Therapist Supervisor
90,NaN,NaN,NaN,NaN,Spa Therapist Supervisor
9,NaN,NaN,NaN,NaN,Beautician Supervisor
66,NaN,NaN,NaN,NaN,Beautician Supervisor
66,NaN,NaN,NaN,NaN,Technical Helpdesk Specialist
58,NaN,NaN,NaN,NaN,Prime Mover Driver
80,NaN,NaN,NaN,NaN,Deputy Head
58,NaN,NaN,NaN,NaN,Senior Data Architect Manager
46,NaN,NaN,NaN,NaN,"Assistant Head, Legal"
59,NaN,NaN,NaN,NaN,"Assistant Head, Legal"
55,NaN,NaN,NaN,NaN,Analyst Programmer
88,NaN,NaN,NaN,NaN,Analyst Programmer
36,NaN,NaN,NaN,NaN,Professional Development Manager
68,NaN,NaN,NaN,NaN,Professional Development Manager
76,NaN,NaN,NaN,NaN,Professional Development Manager
86,NaN,NaN,NaN,NaN,Customer Liaison Officer
40,NaN,NaN,NaN,NaN,Semi-Conductor Engineer
36,NaN,NaN,NaN,NaN,Liaison Officer
60,NaN,NaN,NaN,NaN,Liaison Officer
93,NaN,NaN,NaN,NaN,Liaison Officer
98,NaN,NaN,NaN,NaN,Liaison Officer
90,NaN,NaN,NaN,NaN,Investor Relations Manager
47,NaN,NaN,NaN,NaN,Perfumer Assistant
58,NaN,NaN,NaN,NaN,Perfumer Assistant
86,NaN,NaN,NaN,NaN,Perfumer Assistant
40,NaN,NaN,NaN,NaN,Senior Pharmaceutical Dispenser
97,NaN,NaN,NaN,NaN,Senior Pharmaceutical Dispenser
76,NaN,NaN,NaN,NaN,Senior Server Support Analyst
78,NaN,NaN,NaN,NaN,Senior Server Support Analyst
27,NaN,NaN,NaN,NaN,Specialist Associate
37,NaN,NaN,NaN,NaN,Specialist Associate
50,NaN,NaN,NaN,NaN,Specialist Associate
35,NaN,NaN,NaN,NaN,Nursing Aid
62,NaN,NaN,NaN,NaN,Nursing Aid
66,NaN,NaN,NaN,NaN,Nursing Aid
67,NaN,NaN,NaN,NaN,Nursing Aid
92,NaN,NaN,NaN,NaN,Nursing Aid
25,NaN,NaN,NaN,NaN,Superintendent Engineer
90,NaN,NaN,NaN,NaN,Superintendent Engineer
23,NaN,NaN,NaN,NaN,Production Operator Leader
89,NaN,NaN,NaN,NaN,Production Operator Leader
79,NaN,NaN,NaN,NaN,Senior Helpdesk Engineer
78,NaN,NaN,NaN,NaN,Senior Analyzer Technician
88,NaN,NaN,NaN,NaN,Senior Analyzer Technician
91,NaN,NaN,NaN,NaN,Senior Analyzer Technician
45,NaN,NaN,NaN,NaN,Adjunct Professor
58,NaN,NaN,NaN,NaN,Adjunct Professor
52,NaN,NaN,NaN,NaN,Dredger Crewman
98,NaN,NaN,NaN,NaN,Crew Manning Executive
53,NaN,NaN,NaN,NaN,Therapist Assistant
56,NaN,NaN,NaN,NaN,Therapist Assistant

+ Save invalid titles:

In [65]:
# parse('Senior Executive')
# parse('Helpdesk Engineer')
# parse('Spa Therapist Supervisor')

invalid_titles = res.title[res.duplicated('title')].unique()
print('# invalid titles: %d' %len(invalid_titles))
pd.DataFrame({'title': invalid_titles}).to_csv(DATA_DIR + 'invalid_titles.csv', index=False)

# invalid titles: 30

+ Rm dups due to invalid titles and replace NAs by empty strings (to avoid NAs destroying standard titles later):

In [79]:
res = res.drop_duplicates('title')
print res.shape

res.domain.fillna('', inplace=True); res.position.fillna('', inplace=True)
res.pri_func.fillna('', inplace=True); res.sec_func.fillna('', inplace=True)

(4480, 6)

D:\conda\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [136]:
res.head()

,domain,position,pri_func,sec_func,non_std_title,title
0,site,,engineer,,Site Engineer,Site Engineer
1,administration,,clerk,,Administration Clerk,Administration Clerk
2,interior,senior,designer,,Senior Interior Designer,Senior Interior Designer
3,interior,,designer,,Interior Designer,Interior Designer
4,production,,coordinator,,Production Coordinator,Production Coordinator

In [82]:
res.to_csv(DATA_DIR + 'parsed_titles.csv', index=False)

### Standardize Job Titles

The standard form for all titles is: __position + domain + (secondary function) + primary function__.

In [144]:
def camelCase(s):
    return s.title()

def joinValidParts(row):
    '''
    @brief: Only join valid parts with data, parts which are empty str are removed
    '''
    parts = [row.position, row.domain, row.sec_func, row.pri_func]
    valid_parts = [p for p in parts if p != '']
#     print('# valid parts: %d' %len(valid_parts))
    return ' '.join(valid_parts)

In [ ]:
# This naive join will cause confusing results
res['std_title'] = res.position + ' ' + res.domain + ' ' + res.sec_func + ' ' + res.pri_func

The following helps to detect the confusing problem: __non_std_title seems identical with title__.

In [133]:
row = res.query('non_std_title != std_title').iloc[0]
my_util.tagChanges(row.non_std_title, row.title)

'<b></b> Site <b></b> Engineer'

It shows that the problem is due to NA parts, e.g. sec-func, which add spaces (almost invisible to naked eyes) to the std-ized version. Thus we need a better join which combines only valid parts. That made me create joinValidParts().

In [139]:
row = res.query('non_std_title == "Site Engineer"').iloc[0]
print joinValidParts(row)

' '.join([row.position, row.domain, row.sec_func, row.pri_func])

# valid parts: 2
site engineer

' site  engineer'

In [145]:
res['std_title'] = res.apply(joinValidParts, axis=1)
res.std_title = res.std_title.apply(camelCase)

D:\conda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [147]:
res.head()

,domain,position,pri_func,sec_func,non_std_title,std_title
0,site,,engineer,,Site Engineer,Site Engineer
1,administration,,clerk,,Administration Clerk,Administration Clerk
2,interior,senior,designer,,Senior Interior Designer,Senior Interior Designer
3,interior,,designer,,Interior Designer,Interior Designer
4,production,,coordinator,,Production Coordinator,Production Coordinator

#### From now on, title means standard title.

In [148]:
res.rename(columns={'std_title': 'title'}, inplace=True)
res.to_csv(DATA_DIR + 'parsed_titles.csv', index=False)

In [162]:
stdForm = dict(zip(res.non_std_title, res.title))

print('# non-std titles which can be standardized: %d' %len(stdForm.keys()))

uniq_std_titles = np.unique((stdForm.values()))
print('# unique standard titles: %d' % len(uniq_std_titles))

# non-std titles which can be standardized: 4480
# unique standard titles: 4268

### Standardizing Job Titles of Posts

In [166]:
def toStd(t):
    if t not in stdForm.keys():
        return t
    else:
        if stdForm[t] == '': # for titles which could not be parsed
            return t
        else: 
            return stdForm[t]
            
    #     return stdForm[t] if t in stdForm.keys() else t

In [153]:
df = pd.read_csv(DATA_DIR + 'doc_index_filter.csv')
df.columns

Index([u'index', u'doc', u'job_id', u'non_std_title', u'n_skill',
       u'occur_skills', u'employer_id', u'employer_name', u'industry',
       u'title'],
      dtype='object')

In [165]:
uniq_non_std_titles = df['non_std_title'].unique()
# sum([t not in stdForm.keys() for t in uniq_non_std_titles])
tmp = [t for t in uniq_non_std_titles if t not in stdForm.keys()]
tmp[:5]

['Draughtsman, Mechanical',
 'Health, Safety & Environment Site Clerk',
 'Senior SAP Consultant',
 'Senior SAP Specialist',
 'Building and Construction Project Manager']

In [167]:
del df['title']

In [156]:
print("# unique non-std titles in data: %d" % df.non_std_title.nunique())

# unique non-std titles in data: 4717

In [168]:
df['title'] = map(toStd, df['non_std_title'])

+ Sanity check if the std-ation works:

In [169]:
df.query('non_std_title != title')[['non_std_title', 'title']].head()
any(df.title == '')

,non_std_title,title
193,"Caseworker, Social Welfare",Social Welfare Caseworker
222,Network Engineer/Manager,Network Engineer And Manager
252,Liquefied Petroleum Gas (LPG) Team Leader,Liquefied Petroleum Gas Team Leader
412,Horticulturist / Arborist,Horticulturist And Arborist
436,Senior Electrical Engineer (Power Distribution...,Senior Electrical Engineer

In [171]:
df.to_csv(DATA_DIR + 'doc_index_filter.csv')

+ Re-query job titles with at least 2 posts:

In [173]:
by_title_agg = df.groupby('title').agg({'job_id': 'nunique'})
by_title_agg.rename(columns={'job_id': 'n_post'}, inplace=True)
by_title_agg.reset_index(inplace=True)
by_title_agg.head()

                  title  n_post
0    Academic Assistant      13
1   Academic Consultant      13
2  Academic Coordinator      12
3     Academic Director       6
4   Academic Instructor      13

In [175]:
titles2_ = pd.DataFrame(by_title_agg.query('n_post >= 2')['title'])
print('# titles with >= 2 posts: %d' %titles2_.shape[0])

# titles with >= 2 posts: 3412

In [176]:
res.columns

Index([u'domain', u'position', u'pri_func', u'sec_func', u'non_std_title',
       u'title'],
      dtype='object')

In [177]:
title_df = pd.merge(titles2_, res)
print(title_df.shape[0])

2983

In [178]:
title_df.to_csv(DATA_DIR + 'new_titles_2posts_up.csv', index=False)

### Domains in Job Titles

In [66]:
by_domain = res.groupby('domain')
print('# domains: {}'.format(by_domain.ngroups))

by_domain_agg = by_domain.agg({'title': len})
by_domain_agg = by_domain_agg.add_prefix('n_').reset_index()
by_domain_agg.sort_values('n_title', ascending=False, inplace=True)

# domains: 1602

In [67]:
by_domain_agg.describe().round(1)

       n_title
count   1602.0
mean       2.6
std        3.6
min        1.0
25%        1.0
50%        1.0
75%        2.0
max       44.0

Though the total no. of domains is large, we actually only interested in domains with at least $2$ job titles. The reason is the domains with only $1$ title give us no pairwise similarity score.

In [69]:
domains_2 = by_domain_agg.query('n_title >= 2')
print('# domains with at least 2 job titles: %d' %len(domains_2))

# domains with at least 2 job titles: 709

In [68]:
by_domain_agg.to_csv(DATA_DIR + 'stats_domains.csv', index=False)

### Primary Functions in Job Titles

In [71]:
by_pri_func = res.groupby('pri_func')
print('# primary functions: {}'.format(by_pri_func.ngroups))

by_pri_func_agg = by_pri_func.agg({'title': len})
by_pri_func_agg = by_pri_func_agg.add_prefix('n_').reset_index()
by_pri_func_agg.sort_values('n_title', ascending=False, inplace=True)

by_pri_func_agg.to_csv(DATA_DIR + 'stats_pri_funcs.csv', index=False)

# primary functions: 362

In [72]:
by_pri_func_agg.describe().round(1)

       n_title
count    362.0
mean      12.3
std       55.4
min        1.0
25%        1.0
50%        1.0
75%        5.0
max      786.0

#### Old way of mapping non-std titles to std titles

In [ ]:
title_mapper = pd.read_csv(DATA_DIR + 'title_mapper.csv')

In [ ]:
title_mapper.rename(columns={'match': 'non_std_title'}, inplace=True)
title_mapper.to_csv(DATA_DIR + 'title_mapper.csv', index=False)

In [ ]:
title_mapper.head(1)

In [ ]:
non_std_titles = title_mapper.non_std_title
stdForm = {t: toStd(t) for t in non_std_titles}

In [ ]:
SKILL_DAT = HOME_DIR + 'data/clean/skill_cluster/' 
post_df = pd.read_csv(SKILL_DAT + 'filter_doc_index.csv')

In [ ]:
post_df.title = post_df.title.apply(lambda t: stdForm[t] if t in non_std_titles else t)

In [ ]:
post_df.to_csv(SKILL_DAT + 'filter_doc_index.csv', index=False)

#### Test parser web service (src by Koon Han)

In [ ]:
# r0 = requests.post(parse_url, auth=(user, pwd), 
#                   json={"job_title":"accountant", "verbose": False})

# print r0.status_code
# print r0.json()['output']

r1 = requests.post(parse_url, auth=(user, pwd), 
                  json={"job_title":"software developer", "verbose": False})

print r1.status_code
print r1.json()['output']


# r2 = requests.post(parse_url, auth=(user, pwd), 
#                   json={"job_title":"pre-school teacher", "verbose": False})

# print r2.status_code
# print r2.json()['output']

# r3 = requests.post(parse_url, auth=(user, pwd), 
#                   json={"job_title":"Assistant Civil and Structural Engineer", 
#                         "verbose": False})

In [7]:
r1 = requests.post(parse_url, auth=(user, pwd), 
                  json={"job_title": "Security Analyst, Information Technology",
                        "verbose": False})
print r1.json()['output']

r2 = requests.post(parse_url, auth=(user, pwd), 
                  json={"job_title": "Data analyst and scientist",
                        "verbose": False})
print r2.json()['output']

[{u'title_1': {u'domains': [u'data'], u'position': [], u'sec_func': [], u'pri_func': [u'analyst']}}, {u'title_2': {u'domains': [], u'position': [], u'sec_func': [], u'pri_func': [u'scientist']}}]

## Matching Job Titles

Two job titles may differ only in the order of the words describing them e.g. Software Engineer and Engineer, Software. Such cases should be merged together. Results of parsing allow us to do this.

In [ ]:
# Funcs for matching job titles
def canMatch(row, focus_row):
    match1 = (row.domain == focus_row.domain) and (row.pri_func == focus_row.pri_func)
    if match1:
        if not all(x == 'nan' for x in [row.sec_func, focus_row.sec_func]):
            return False
        if not all(x == 'nan' for x in [row.position, focus_row.position]):
            return False
        return True
    else:
        return False

def findMatches(job_title, title_df):
    print(job_title)
    row = title_df[title_df.title == job_title].iloc[0]
    same_domain_rows = title_df[(title_df.domain == row.domain) & 
                                (title_df.title != job_title)]
    
    if not same_domain_rows.empty: # exist other titles in same domain
        cp = same_domain_rows.copy()
        cp['match'] = cp.apply(canMatch, axis=1, focus_row=row)
        res = cp[cp.match]
        res['focus_title'] = job_title
        return res
    pass

In [ ]:
row = title_df[title_df.title == 'Software Engineer'].iloc[0]
same_domain_rows = title_df[title_df.domain == row.domain]

In [ ]:
same_domain_rows.query('pri_func == "engineer"')

In [ ]:
# cannot compare two NaNs
np.nan == np.nan

__NaN's cause problem__ as they are float, change them to string!!!

In [ ]:
title_df.domain = title_df.domain.apply(lambda x: str(x))
title_df.position = title_df.position.apply(lambda x: str(x))
title_df.sec_func = title_df.sec_func.apply(lambda x: str(x))
title_df.to_csv(DATA_DIR + 'titles_2posts_up.csv', index=False)

In [ ]:
print('# job titles with primary functions: %d' %sum(title_df.pri_func != 'nan'))
print('# job titles with domain: %d' %sum(title_df.domain != 'nan'))
print('# job titles with NA domain: %d' %sum(title_df.domain == 'nan'))

In [ ]:
findMatches('Software Engineer', title_df)

In [ ]:
match_frames = [findMatches(t, title_df) for t in title_df.title]
match_res = pd.concat(match_frames)

match_res.reset_index(inplace=True); del match_res['index']
match_res.rename(columns={'title': 'match'}, inplace=True)
match_res.to_csv(DATA_DIR + 'match_titles.csv', index=False)

#### Old run

+ A bug occurs at 6th batch:

In [ ]:
frames0_5 = [parseBatch(b) for b in range(6)]
frames0_5 = [pd.read_csv(DATA_DIR + 'tmp/b{}.csv'.format(b)) for b in range(6)]
res1 = pd.concat(frames0_5)

+ Then another at 25th batch:

In [ ]:
frames7_24 = [parseBatch(b) for b in range(7, 25)]
frames7_24 = [pd.read_csv(DATA_DIR + 'tmp/b{}.csv'.format(b)) for b in 
              range(7, 25)]
res2 = pd.concat(frames7_24)

+ No more bug :)

In [ ]:
frames26_ = [parseBatch(b) for b in range(26, n_batch)]
res3 = pd.concat(frames26_)

In [ ]:
rem_titles = titles[-remainder:]
last_frame = pd.concat([parse(t) for t in rem_titles])

+ Batches with errors: 6, 25. I located the bug by simply print out the index of the job title where it happened. That's why we need the count var.

In [ ]:
f6_1 = parseBatch(6, start=600, end=643)
f6_2 = parseBatch(6, start=644, end=700)
f6 = pd.concat([f6_1, f6_2])
f6.to_csv(DATA_DIR + 'tmp/b6.csv', index=False)

In [ ]:
count=0
f25_1 = parseBatch(25, start=2500, end=2519)
f25_2 = parseBatch(25, start=2521, end=2600)
f25 = pd.concat([f25_1, f25_2])
f25.to_csv(DATA_DIR + 'tmp/b25.csv', index=False)

+ Titles with errors: 'Category Manager',

In [ ]:
# parse('Category Manager')

+ Collect all results:

In [ ]:
res = pd.concat([res1, res2, res3, last_frame, f6, f25])

In [ ]:
frames = [pd.read_csv(DATA_DIR + 'tmp/b{}.csv'.format(b)) for b in range(n_batch)]
res = pd.concat(frames)

In [ ]:
print('# titles parsed: {}'.format(res.shape[0]))

In [ ]:
res = res.reset_index(); del res['index']

In [ ]:
res.to_csv(DATA_DIR + 'parsed_titles.csv', index=False)

In [ ]:
# Titles with at least 2 posts, already parsed but still having some problem
title_df = pd.read_csv(DATA_DIR + 'titles_2posts_up.csv')

#### Job Titles with NA domain

+ Re-parse titles with NA domain:

In [ ]:
na_domain_titles = np.unique(title_df[title_df.domain.isnull()]['title'])
print('# job titles with NA domain: %d' %len(na_domain_titles))

na_domain_titles[:10]

dom_frames = [parse(t) for t in na_domain_titles]
dom_res = pd.concat(dom_frames)
dom_res = dom_res.reset_index()

dom_res = pd.merge(dom_res, title_stats.query('n_post >= 2'))

dom_res = dom_res.drop_duplicates('title')

title_df = title_df.append(dom_res)

title_df = title_df.reset_index(); del title_df['index']

title_df = title_df.drop_duplicates('title')
len(title_df.title) == title_df.title.nunique()

title_df = pd.read_csv(DATA_DIR + 'titles_2posts_up.csv')

print('# job titles with NA domain: %d' %sum(title_df.domain.isnull()))

na_domain_titles = title_df[title_df.domain.isnull()]['title']
na_domain_titles

#### Job Titles with NA Primary Function

In [ ]:
# na_func_titles = title_df[title_df.pri_func.isnull()]['title']
na_func_titles = pd.read_csv(DATA_DIR + 'invalid_titles.csv')['title']
print('# titles with NA pri-func: %d' % len(na_func_titles))
na_func_titles.head()

+ Rm those problematic titles:

In [ ]:
title_df = title_df[title_df.pri_func.notnull()]

+ Re-parse them:

In [ ]:
func_frames = [parse(t) for t in list(na_func_titles)]
func_res = pd.concat(func_frames)

In [ ]:
sum(func_res.pri_func.isnull())
func_res

In [ ]:
na_func_titles = title_df[title_df.pri_func.isnull()]['title']
print('After re-parsing, # titles with NA pri-func: %d' %len(na_func_titles))

In [ ]:
# title_df = title_df.append(func_res)

Appending directly the parsed results into title_df cause loss of stats for the newly parsed titles as the df of parsed results do not contain stats. Thus, we first need to merge the parsed results with title_stats to get the stats, then append.

In [ ]:
# Hack to resolve the bug
tmp = title_df[title_df.n_post.isnull()]
tmp

In [ ]:
del tmp['n_employer']; del tmp['n_post'] ; 
del tmp['avg_n_skill']

In [ ]:
tmp = pd.merge(tmp, title_stats)
tmp.head()

In [ ]:
title_df = title_df[title_df.n_post.notnull()].append(tmp)
print sum(title_df.n_post.isnull())

In [ ]:
invalid_titles = np.unique(invalid_titles)
print('# invalid titles: %d' %len(invalid_titles))

# pd.DataFrame(invalid_titles).to_csv(DATA_DIR + 'invalid_titles.csv', index=False)

Reasons:
+ invalid titles: may be not in the vocabulary of the parser

In [ ]:
print('After re-parsing,')
print('\t # job titles with NA domain: %d' %sum(title_df.domain.isnull()))
print('\t # job titles with NA pri-func: %d' %sum(title_df.pri_func.isnull()))
print('\t # titles: %d' %len(title_df.title))

#### Old version

In [3]:
title_df = pd.read_csv(DATA_DIR + 'titles_2posts_up.csv')
print('# records loaded: %d' %title_df.shape[0])

# records loaded: 3289

In [ ]:
title_df.position.fillna('', inplace=True)
title_df.domain.fillna('', inplace=True)

title_df.position = title_df.position.apply(lambda x:'' if x == 'None' else x)
title_df.sec_func = title_df.sec_func.apply(lambda x:'' if x == 'None' else x)
title_df.domain = title_df.domain.apply(lambda x:'' if x == 'None' else x)


title_df['std_title'] = title_df.position + ' ' + title_df.domain + ' ' + title_df.pri_func
# Camel case std titles
title_df.std_title = title_df.std_title.apply(lambda x: x.title().strip())
title_df.to_csv(DATA_DIR + 'titles_2posts_up.csv', index=False)

In [5]:
print('# std job titles: %d' % title_df.std_title.nunique())

# std job titles: 3134

In [6]:
title_df.head(1)

,avg_n_skill,domain,n_employer,n_post,position,pri_func,sec_func,title,std_title
0,10.9,administrative,615.0,993.0,NaN,assistant,NaN,Administrative Assistant,Administrative Assistant